<p id="notice"><%= notice %></p>

<h1>Listing Bugs</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Issue type</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">User</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @bugs.each do |bug| %>
      <tr>
        <td scope="col"><%= bug.title %></td>
        <td scope="col"><%= bug.description %></td>
        <td scope="col"><%= bug.issue_type %></td>
        <td scope="col"><%= bug.priority %></td>
        <td scope="col"><%= bug.status %></td>
        <td scope="col"><%= (bug.user.try(:lname) || "NA") %></td>
        <td scope="col"><%= link_to 'Show', bug %></td>
        <td scope="col"><%= link_to 'Edit', edit_bug_path(bug) %></td>
        <td ><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bug', new_bug_path %>
